.login {
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

.login .login-body {
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    padding: 0;
    overflow: hidden;
    box-shadow: 0px 0px 17px 7px #f5f2f2;
}

.login-image {
    width: 100%;
    height: auto;
}

.login .login-content {
    backdrop-filter: blur(2px);

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 0;
    height: 100%;
    height: -moz-available;
    height: -webkit-fill-available,fill-available;
}

.login .login-header {
    margin-bottom: 25px;
}

.login .login-content .login-logo {
    font-weight: 600;
    font-size: 22px;
}

/*////*/

.login input {
    background-color: #f6f6f6;
    border-radius: 6px;
    text-align: center;
    outline: none;
}

.login .link-suggestion {
    margin-top: 15px;
    font-size: 12px;
}

.login .p-link {
    color: blue;
}

.login .welcome-form{
    background-color: #dbdcde;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    animation-duration: 2s;
    position: relative;
    animation-name: welcome-form;
}
@keyframes welcome-form {
    0%{
        opacity: 0;
        top: -50px;
    }

    100%{
        opacity: 1;
        top: 0;
    }
}