.report {
    display: flex;
    justify-content: center;
    margin: 50px 10px 10px 50px;
}
.report .tasks-row{
    border-bottom: 1px solid #ece9e9;
    box-shadow: 3px 3px 7px 3px #e0e0e0;
    margin-bottom: 23px;
    padding: 12px;
    background-color: #f5f5f5;
}
.report .card-header{
    padding: 20px;
    background: rgb(166,78,190);
    background: radial-gradient(circle, rgba(166,78,190,0.3113620448179272) 10%, rgba(219,220,222,1) 73%);
}
.report .task-description{
    margin-bottom: 0;
    font-size: 12px;
    color: #adaba9;
}