.sign-up {
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

.sign-up .sign-up-body {
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    padding: 0;
    overflow: hidden;
    box-shadow: 0px 0px 17px 7px #f5f2f2;
}

.sign-up-image {
    width: 45%;
    height: auto;
}

.sign-up .sign-up-content {
    width: 55%;
    padding: 25px 60px 25px 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #dbdcde;
}

.sign-up .sign-up-header {
    margin-bottom: 25px;
}

.sign-up .sign-up-content .sign-up-logo {
    font-weight: 600;
    font-size: 22px;
}

/*////*/

.sign-up input {
    background-color: #f6f6f6;
    border-radius: 6px;
    text-align: center;
    outline: none;
}

.sign-up .p-link {
    margin-top: 5px;
    font-size: 12px;
}

.sign-up .p-link a {
    color: blue;
}