.add-time{
    margin: 50px 0;
    display: flex;
    justify-content: center;
}

.container{
    display:flex;
    height: 90vh;
    align-items: center;
}
.contents{
    margin:auto;
    text-align: center;
    align-self: center;
}
#given{
    margin: 20px auto;
}
#output{
    margin:auto;
}
.card{
    /*min-width: 600px;*/
    padding: 20px;
    background-color:rgba(1,1,1, .01);
}
.output{
    background: rgb(154,110,166);
    background: linear-gradient(90deg, rgba(154,110,166,0.7679446778711485) 26%, rgba(166,166,166,1) 83%);
}
button{
    margin-top:20px;
}
.timePickers{
    max-width:400px;
    margin: auto;
}
.picker{
    margin: 5px;
}
#remote{
    margin: 7px 2px 0 11px;
}
.time-login-panel{
    background-color: #dbdcde;
    border-radius: 15px;
    box-shadow: 0px 0px 17px 7px #f5f2f2;

}